body {
  font-family: sans-serif;
  background-color: #fdf7ef;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  background-color: #77A9B2;
}

.nav-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-name {
  margin-top: 40px;
  text-align: center;
}

#num-cheers {
  text-align: center;
}

#logout {

}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cheers-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cheers-faded-form {
  opacity: 0.5;
}

#cheers-btn {
  display: flex;
  flex-direction: column;
  margin-left: 34px;
}